extends ../../layout/_header.default.jade
append content
  .container
    .jumbotron
      h1 About UI Project Boilerplate
      p Praesent turpis. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
