div
	ui-gmap-google-map(center="placeCtrl.map.center" zoom="placeCtrl.map.zoom" options="placeCtrl.options" events="placeCtrl.map.mapEvents" bounds="placeCtrl.map.bounds")
		ui-gmap-marker(coords="placeCtrl.map.marker" options="placeCtrl.map.marker.options" events="placeCtrl.map.marker.events" idkey="placeCtrl.map.marker.id")