.angular-google-map-container { height: 450px; }

div.container {
	padding: 10px;
}

div.lable-content, div.current-lable-content {
	background-color: white;
	opacity: 0.8;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid silver;
}

div.current-lable-content {
	color: green;
	background-color: green;
}