.angular-google-map-container { width: 100%; height: 450px; }

div.container {
	padding: 10px;
}

div.lableContent, div.currentLableContent {
	background-color: white;
	opacity: 0.8;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid silver;
}

div.currentLableContent {
	color: red;
}