link(rel="stylesheet" href="app/pages/map/place.css")

h1 Places you'd like to visit

div
	ui-gmap-google-map(center="map.center" zoom="map.zoom" options="options")
		ui-gmap-marker(coords="placeCtrl.marker.coords" options="placeCtrl.marker.options" events="placeCtrl.marker.events" idkey="placeCtrl.marker.id")
	div(id="places-form" class="container")
		form(role="form")
			div(class="form-group")
				label(for="place") Name:
				input(type="text" g-places-autocomplete force-selection="true" class="form-control" ng-model="currentPlace.name")
			div(class="form-group")
				label(for="latitude") Latitude:
				input(type="text" disabled class="form-control" ng-model="currentPlace.latitude")
			div(class="form-group")
				label(for="longitude") Longitude:
				input(type="text" disabled class="form-control" ng-model="currentPlace.longitude")
			button(type="button" class="btn btn-success" ng-click="placeCtrl.save()") Save
	
	div(id="places" class="container")
		h4 List of your places
		div(ng-repeat="place in places")
			a(ng-click="placeCtrl.setPlace({'_id':place._id, 'name':place.name, 'latitude': place.latitude, 'longitude': place.longitude});") {{place.name}}

	div(id="debug" class="container")
		//<pre>{{place | json}}</pre>
		//<pre>{{places | json}}</pre>
