h1 This is Account page

dl.dl-horizontal
  dt Username:
  dd {{::accountCtrl.user.username}}
  dt Email:
  dd {{::accountCtrl.user.email}}
  dt Firstname:
  dd {{::accountCtrl.user.firstName}}
  dt Lastname:
  dd {{::accountCtrl.user.lastName}}
